{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" class="style">
    <title>Sistema de Gestion de Personas</title>
</head>

<body>
    <div>
        <h1>Sistema de Gestión de Personas </h1>
        <p>Trabajo integrador individual</p>
        <h2>📌 Premisa</h2>
        <p>🚀 Construir una aplicación con Django para agregar nuevos clientes y poder listarlos.</p>
        <h2>📝 Requerimientos</h2>
        <ul>
            <li> Agregar una app llamada compra 🛒</li>
            <li> Dentro de esta app se deben agregar los modelos Producto y Proveedor 📦</li>
            <li> El Producto debe estar relacionado con el Proveedor: entiéndase que un Proveedor es una foreignkey en
                Producto.</li>
            <li> Crear el archivo migration y ejecutarlo 🔄</li>
        </ul>
        <p>🛠️ La aplicación debe proveer la FUNCIONALIDAD NECESARIA para realizar las siguientes operaciones:</p>
        <h3>Agregar un nuevo Proveedor con el siguiente detalle:</h3>
        <ul>
            <li> DNI</li>
            <li> Nombre</li>
            <li> Apellido</li>
            <li>La idea es tener un formulario que permita agregar un nuevo proveedor</li>
        </ul>
        <h3>Agregar un nuevo Producto con el siguiente detalle:</h3>
        <ul>
            <li> Precio</li>
            <li> Stock_actual</li>
            <li> Proveedor</li>
            <li> Nombre</li>
            <li> La idea es tener un formulario que permita agregar un nuevo producto 🚀</li>
        </ul>
        <li>Listar todos los productos registrados en la base de datos:</li>
        <ul>
            <li> La idea es tener disponible una vista que muestre el listado de todos los productos a traves de una tabla HTML.</li>
        </ul>
        <h3>📝 Acciones:</h3>
        <ul>
            <li> Listar todos los productos registrados en la base de datos</li>
            <li> Permitir agregar un nuevo producto.</li>
            <li> Permitir agregar un nuevo proveedor.</li>
            <li> Tener disponible en el Admin el modelo del producto y del proveedor.</li>
        </ul>
        <p>La aplicación debe permitir almacenar nuevos productos y proveedores para luego mostrarlos en un listado.</p>
            <h3>🎁 Bonus</h3>
            <ul>
                <li> Implementar uso de Bootstrap en los HTMLs</li>
                <li> Generar el listado de Proveedores.</li>
                <li> Generar el archivo requirements del proyecto</li>
            </ul>
            <h4>⚠️ Aclaraciones:</h4>
            <ul>
                <li> Solo se deben implementar las vistas para el listado y el alta de productos y proveedores.</li>
                <li> Lo que se describe en la sección de Bonus no es algo obligatorio, pero suma aprendizaje y experiencia.</li>
            </ul>
            <h3>📭 Entregables</h3>
            <ul>
                <li> Repositorio en GitHub</li>
                <ul>
                    <li> Código</li>
                    <li> Documentación pertinente</li>
                </ul>
            </ul>
    </div>
    <a href="{% url 'home' %}">Haz click para continuar</a>
</body>

</html>