{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}" class="style">
    <title>Sistema de Gestion de Personas</title>
</head>

<body>
    <div>
        <h1>Sistema de Gestión de Personas </h1>
        <p>Trabajo integrador individual</p>
        <h2>📌 Premisa</h2>
        <p>🚀 Construir una aplicación con Django para agregar nuevos clientes y poder listarlos.</p>
        <h2>📝 Requerimientos</h2>
        <ul>
            <li>✓ Agregar una app llamada compra 🛒</li>
            <li>✓ Dentro de esta app se deben agregar los modelos Producto y Proveedor 📦</li>
            <li>✓ El Producto debe estar relacionado con el Proveedor: entiéndase que un Proveedor es una foreignkey en
                Producto.</li>
            <li>✓ Crear el archivo migration y ejecutarlo 🔄</li>
        </ul>
        <p>🛠️ La aplicación debe proveer la FUNCIONALIDAD NECESARIA para realizar las siguientes operaciones:</p>
        <h3>Agregar un nuevo Proveedor con el siguiente detalle:</h3>
        <ul>
            <li>✓ DNI</li>
            <li>✓ nombre</li>
            <li>✓ apellido</li>
            <li>La idea es tener un formulario que permita agregar un nuevo proveedor</li>
        </ul>
        <h3>Agregar un nuevo Producto con el siguiente detalle:</h3>
        <ul>
            <li>✓ precio</li>
            <li>✓ stock_actual</li>
            <li>✓ proveedor</li>
            <li>✓ nombre</li>
            <li>La idea es tener un formulario que permita agregar un nuevo producto 🚀</li>
        </ul>
    </div>
</body>

</html>