<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>LISTA DE PRODUCTOS</h1>
    <ul>    
        {% for proveedor in proveedores %}
        <li style="display: flex;">
            <span>Nombre: {{proveedor.nombre}}</span>
            <span>precio: {{proveedor.apellido}}</span>
            <span>cantidad: {{proveedor.dni}}</span>
        </li>
        {% endfor%}
    </ul>
</body>
</html>